//margin padding
@use "_var.scss" as v;

body, .btn--pari{
    background-color: v.$bgcolor;
    color: v.$textcolor;
    margin: 0;
}
.body--landing{
    &::-webkit-scrollbar {
        width: 15px;
        left: 50px;
    }  
    &::-webkit-scrollbar-track {
        background-color: black; 
    }  
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: v.$gradiento; 
    }
}
ul{
    list-style: none;
}
a{
    color: v.$textcolor;
    text-decoration: none;
}
.content{
    padding: 22.75px;
    margin: 0;
    overflow: hidden;
    background-color: v.$bgcolor;
}
.overflow{
    overflow: hidden;
}
.landing{
    &--1{
        position: relative;
        &::before{
            background-image: url(../images/grouporange.svg);
            background-size: cover;
            width: 500px;
            height: 650px;
            content: "";  
            position: absolute;
            opacity: 0.2;
            bottom: 0;
            right: -250px;
        }
    }
    &--2{
        position: relative;
        &::before{
            background-image: url(../images/groupviolet.svg);
            background-size: cover;
            width: 500px;
            height: 650px;
            content: "";  
            position: absolute;
            bottom: -250px;
            left: -432px;
            opacity: .1;
            transform: rotate(135deg);     
        }
    }
    &--3{
        position: relative;
        &::before{
            background-image: url(../images/grouporange.svg);
            background-size: cover;
            width: 500px;
            height: 650px;
            content: "";  
            position: absolute;
            bottom: -250px;
            left: -300px;
            opacity: .1;
            transform: rotate(135deg);
            z-index: 10;    
        }
    }
}
.before{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(135deg, #2B66FF 0%, #C324FF 100%);;
    box-shadow: 0px 4px 36px v.$blue;
    border-radius: 5px;
}
.btn{
    &--pari{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 60px;
        background: transparent;
        box-shadow: 0px 3px 9px #C324FF;
        border-radius: 4px;
        text-align: center;
        align-self: center;
        margin: 22.75px 0;
        transform: skew(-3deg,0deg);
        border-top: 4px solid;
        border-bottom: 4px solid;
        background-size: 4px 100%;
        background-position: 0 0,100% 0;
        background-repeat: no-repeat;
        border-radius: 4px;
        border-top-color: #2b66ff;
        border-bottom-color: #c324ff;
        background-image: linear-gradient(#2B66FF, #C324FF),linear-gradient(#2B66FF, #C324FF);
        &:hover{
            cursor: pointer;
            background: linear-gradient(180deg, #2B66FF 0%, #C324FF 99.93%);
        }   
    }
}
.video{ 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    background-size: cover;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    &--desk{
        display: none;
    }
}
.credits{
    align-self: flex-end;
    margin-bottom: 0;
}
.button_content{
    text-indent: 100%;
    white-space: nowrap;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
}
.logo-br{
    align-self: center;
    height: 90px;
}
.choix--body{
    overflow: hidden;
    height: 100vh;
    h1{
        display: block;
        margin: 0;
        padding-top: 30px;
    }
}
.landing--expli{
    margin: 75px 0 0 0;
}
.logo{
    max-width: 80%;
    align-self: center;
}
.pret,.equipe,.banner{
    display: flex;
    flex-direction: column;
}
.pret{
    padding-bottom: 105px;
}
.equipe{
    position: relative;
    &::before{
        content: url(../images/groupviolet.svg);
        position: absolute;
        right: -250px;
        opacity: .1;  
        transform: rotate(315deg);   
    }
}
.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    padding: 20px;
    border-top: 4px solid ;
    border-bottom:4px solid ;
    background-size:4px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
    border-radius: 4px;
    transform: skew(-3deg,0deg);
    align-self: center;
    margin: 30px;
    &__el{
        &--img{
            width: inherit;
        }
    }
    &--org{
        border-top-color: #FF1B1B;
        border-bottom-color: #FFB914;
        background-image: 
        linear-gradient(#FF1B1B, #FFB914),
        linear-gradient(#FF1B1B, #FFB914);
        box-shadow:0px 3px 30px #FF1B1B;
    }
    &--bleu{
        border-top-color: #2B66FF;
        border-bottom-color: #C324FF;
        background-image: 
        linear-gradient(#2B66FF, #C324FF),
        linear-gradient(#2B66FF, #C324FF);
        box-shadow:0px 3px 30px #C324FF;
    }
    &:hover{
        transform: scale(1);
    }  
}
.catego{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid ;
    border-bottom:4px solid ;
    background-size:4px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
    border-radius: 4px;
    transform: skew(-3deg,0deg);
    align-self: center;
    margin: 22.75px 0;
    padding: 10px;
    margin: 10px;
    &:hover{
        transform: skew(-0deg,0deg);
    }
    &__el{
        &--img{
            width: inherit;
        }
    }
    &--org{
        border-top-color: #FF1B1B;
        border-bottom-color: #FFB914;
        background-image: 
        linear-gradient(#FF1B1B, #FFB914),
        linear-gradient(#FF1B1B, #FFB914);
    }
    &--bleu{
        border-top-color: #2B66FF;
        border-bottom-color: #C324FF;
        background-image: 
        linear-gradient(#2B66FF, #C324FF),
        linear-gradient(#2B66FF, #C324FF);
    }  
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    &__el{
        &--droite,&--gauche{
            padding: 0;
        }
    }
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    //font-family: v.$typo;
    @media(min-width: 600px){
        flex-direction: row;
        justify-content: space-around;
   }
   &__content{
       display: flex;
       flex-direction: row;
       &.test{
           margin-right: 70%;
       }
        @media(min-width: 600px){
            display: flex;
            flex-direction: column;
            &.test{
                margin-right: 0;
            }
        }
    }
    &__btn{
        font-family: v.$typo;
        border: 4px solid;
        background-color: transparent;
        font-size: 49px;
        height: 35vh;
        width: 250px;
        border-color: v.$textcolor;
        color: v.$textcolor;
        margin: 10px;
        border-radius: 12px;
        transform: skew(-3deg,0deg);
        justify-content: flex-end;
        cursor: pointer;

        &.active{
            border: none;
        }
        @media(min-width: 600px){
            justify-content: center;
        }
    }
    &__choix{
        font-size: 30px;
        width: 250px;
        padding: 0;
        list-style: none;
        text-align: center;
        align-self: center;
        margin: auto;
        &--list{
            padding: 10px;
            margin: 10px;
        }
    }
}
.menu{
    overflow: visible;
    &__content{
        position: relative;
        &--orange{
            &::before{
                background-image: url(../images/grouporange.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 600px;
                height: 750px;
                content: "";
                position: fixed;
                opacity: .2;
                top: -100px;
                left: -300px;
                transform: rotate(35deg);
            }
        }
        &--violet{
            &::before{
                background-image: url(../images/groupviolet.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 600px;
                height: 750px;
                content: "";
                position: fixed;
                opacity: .2;
                bottom: -300px;
                right: -200px;
                transform: rotate(135deg);
                z-index: -10;
            }
        }
    }
    &--bleu{
        align-items: center;
        border-top: 4px solid ;
        border-bottom:4px solid ;
        background-size:4px 100%;
        background-position:0 0, 100% 0;
        background-repeat:no-repeat;
        border-radius: 4px;
        transform: skew(-3deg,0deg);
        align-self: center;
        margin: 22.75px 0;
        position: relative;

        &.active{
            border-top: 4px solid ;
            border-bottom:4px solid ;
            background-color: v.$purple;
            box-shadow: 0px 3px 10px #c324ff;
            border-top-color: #2B66FF;
            border-bottom-color: #C324FF;
            background-image: 
            linear-gradient(#2B66FF, #C324FF),
            linear-gradient(#2B66FF, #C324FF);
            box-shadow:0px 3px 30px #C324FF;
        }
    }
    &--org{
        align-items: center;
        border-top: 4px solid ;
        border-bottom:4px solid ;
        background-size:4px 100%;
        background-position:0 0, 100% 0;
        background-repeat:no-repeat;
        border-radius: 4px;
        transform: skew(-3deg,0deg);
        align-self: center;
        margin: 22.75px 0;
        &.active{
            border-top: 4px solid ;
            border-bottom:4px solid ;
            background-color: v.$brun;
            box-shadow: 0px 3px 10px #ff1b1b;
            border-top-color: #FF1B1B;
            border-bottom-color: #FFB914;
            background-image:         
            linear-gradient(#FF1B1B, #FFB914),
            linear-gradient(#FF1B1B, #FFB914);;
            box-shadow:0px 3px 30px #FF1B1B;
        }
    } 
}
.separateur{
    align-self: center;
    width: 4px;
    height: 50vh;
    background-color: #e5e5e5;
    border-radius: 15px;
    &--footer{
        height: 4px;
        width: 85vw;
    }
}
.footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    bottom: 0;
    a{
        display: flex;
        align-items: center;
    }
    h2{
        margin: 0;
        align-self: center;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75vw;
        align-self: center;
        padding: 45px 0 0 0;
    }
    .copyright{
        font-size: 13px;
        align-self: center;
    }
    .xp{
        font-size: 19px;
        text-align: left;
    }
    &--choix{
        @media (min-width: 700px){
            position: absolute;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            width: 100px; 
        }
    }
    &--landing{
        background-color: v.$bgcolor;
    }
}

.hidden{
    display: none;
}
@media (min-width: 600px){
    section{
        padding: 45px;
    }
    .choix--body{
        h1{
            display: inline-block;
            margin: 0 0 0 30px;
            padding-top: 30px;
        }
    }
    .banner{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 60px 0;
        max-width: 80vw;
        max-height: 40vh;
    }
    .video{
        &--mob{
            display: none;
        }
        &--desk{
            display: block;
        }
    }
    .logo{
        max-width: 40%;
    }
    .title{
        &--princ{
            align-self: center;
        }
        &--logo{
            &::before{
                background-image: url(../images/groupviolet.svg);
                background-size: cover;
                width: 600px;
                height: 750px;
                content: "";
                position: absolute;
                opacity: .2;
                bottom: -1000px;
                left: -280px;
                transform: rotate(135deg);
                z-index: -10;
            }
        }
    }
    .accroche{
        text-align: center;
        align-self: center;
        width: 80vw;
    }
    .before{
        width: 5px;
        height: auto;
        background-image: linear-gradient(135deg, #2B66FF 0%, #C324FF 100%);;
    }
    .btn{
        &--pari{
            margin: 30px 0;
        }
    }
    .carte{
        width: 25vw;

    }
    .pret{
        .title--second{
            text-align: center;
        }
    }
    .menu{
        margin: auto;
        max-width: 70vw;
        &__btn{
            height: 30vh;
            align-items: flex-end;
        }
        &--bleu{
            &:hover{
                background-color: v.$purple;
            }
        }
        &--org{
            &:hover{
                background-color: v.$brun;
            }
        } 
    }
    label{
        padding-left: 15px;
    }
}
.nav, .nav__choix{
    display: flex;
}
.bet{
    overflow: auto;
    width: 80vw;
    height: 75vh;
    &__content{
        border-top: 4px solid ;
        border-bottom:4px solid ;
        background-size:4px 100%;
        background-position:0 0, 100% 0;
        background-repeat:no-repeat;
        border-radius: 4px;        
        background-color: v.$gradientblack;
        box-shadow: 0px 3px 10px #c324ff;
        border-top-color: #2B66FF;
        border-bottom-color: #C324FF;
        background-image: 
        linear-gradient(#2B66FF, #C324FF),
        linear-gradient(#2B66FF, #C324FF);
        box-shadow:0px 3px 30px #C324FF;
        margin: 40px;
    }
}
.joueur{
    max-height: 80vh;
    max-width: 90vw;
    width: -webkit-fill-available;
    margin: auto;
    border: 4px solid v.$textcolor;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: v.$gradientblack;
    &__choix{
        display: flex;
        max-height: 60vh;
        justify-content: space-around;
        padding: 40px 20px;
    }
    &__el{
        padding-left: 0;
        margin: 20px;
        label{
            padding-left: 15px;
        }
    }
    &__equipe{
        overflow: auto;
        border: 4px solid ;
        background-size:4px 100%;
        background-position:0 0, 100% 0;
        background-repeat:no-repeat;
        border-radius: 4px;
        & input[type=radio]{
            appearance: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            position: relative;
            outline: none;
            cursor: pointer;
        }
        &::-webkit-scrollbar {
            width: 10px;
            left: 50px;

        }  
        &::-webkit-scrollbar-track {
            background-color: black; 
            border-radius: 10px;
        }  
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }  
        &--bleu{
            border-color: v.$violet;
            box-shadow:0px 3px 15px v.$violet;
            &::before{
                background-image: url(../images/grouporange.svg);
                background-size: cover;
                width: 500px;
                height: 650px;
                content: "";
                position: absolute;
                opacity: .2;
                bottom: -350px;
                left: -180px;
                transform: rotate(90deg);
                z-index: -1;
            }
            & input[type=radio]{
                border: 2px solid v.$blue;
                &:hover{
                    background-color: v.$blue;
                }
                &:checked{
                    background-image: v.$gradientv;
                }
            }
            &::-webkit-scrollbar-thumb {
                background: v.$gradientv; 
            }    
        }
        &--orange{
            border-color: v.$rouge;
            box-shadow:0px 3px 15px v.$rouge;
            &::before{
                background-image: url(../images/groupviolet.svg);
                background-size: cover;
                width: 500px;
                height: 650px;
                content: "";
                position: absolute;
                opacity: .2;
                top: -350px;
                right: -180px;
                transform: rotate(130deg);
                z-index: -1;
            }
            & input[type=radio]{
                border: 2px solid v.$orange;
                &:hover{
                    background-color: v.$orange;
                }
                &:checked{
                    background-image: v.$gradiento;
                }
            }  
            &::-webkit-scrollbar-thumb {
                background: v.$gradiento; 
            }    
        }
    }
    &__submit{
        display: flex;
        position: fixed;
        top: 20px;
        right: 20px;
        &--btn{
            margin: 10px;
            font-size: 30px;
            text-transform: uppercase;
            color: v.$textcolor;
            background-color: transparent;
            border: 4px solid v.$textcolor;
            padding: 10px;
            transform: skew(-3deg, 0deg);
            border-radius: 4px;
            &:hover{
                background-color: v.$textcolor;
                color: v.$bgcolor;
            }
        }
    }
    .head{
        height: 100vh;
    }
}
.jeton{
    display: flex;
    position: fixed;
    top: 40px;
    right: 40px;
    margin: 0;
    transform: skew(-3deg, 0deg);
    background: transparent;
    border-radius: 4px;
    border-top: 4px solid;
    border-bottom: 4px solid;
    background-size: 4px 100%;
    background-position: 0 0,100% 0;
    background-repeat: no-repeat;
    border-top-color: #2b66ff;
    border-bottom-color: #c324ff;
    background-image: linear-gradient(#2B66FF, #C324FF),linear-gradient(#2B66FF, #C324FF);
    align-items: center;
    padding: 10px 100px 10px 40px;
    z-index: 10;
    &::after{
        content: '';
        background-image: url(../images/rl-ball.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 50px;
        width: 50px;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 20px;
        z-index: -1;
    }
    &:hover{
        border-top-color: v.$rouge;
        border-bottom-color: v.$orange;
        background-image: linear-gradient(v.$rouge, v.$orange),linear-gradient(v.$rouge, v.$orange);
        transform: skew(0deg, 0deg);
        &::after{
            background-image: url(../images/rl-ballred.png);
        }
    }
}
.shop{
    overflow-x: scroll;
    max-width: 80vw;
    margin: 60px auto;
    &::-webkit-scrollbar {
        width: 10px;
        left: 50px;
    }  
    &::-webkit-scrollbar-track {
        background-color: black; 
        border-radius: 10px;
    }  
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: v.$gradientr; 
    }
    &::before{
        background-image: url(../images/grouporange.svg);
        background-size: cover;
        width: 600px;
        height: 750px;
        content: "";
        position: absolute;
        opacity: .2;
        top: -100px;
        right: -280px;
    }
    &__img{
        width: 100px;
        height: 100px;
        margin: 10px;
    }
    &__name{
        margin: 0;
        font-size: 13px;
    }
    &__btn{
       background: transparent; 
       border: none;
       font-size: 30px;
       color: v.$textcolor;
    }
    &__row{
        display: -webkit-box;
    }
    &__select{
        transform: skew(-3deg, 0deg);
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        border-top: 4px solid;
        border-bottom: 4px solid;
        background-size: 4px 100%;
        background-position: 0 0,100% 0;
        background-repeat: no-repeat;
        margin: 20px;
        width: 200px;
        height: 200px;
        font-size: 20px;
        text-align: center;
        &:hover{
            transform: skew(0deg, 0deg);
        }
        &--pick{
            background-color: rgba(255, 255, 255, 0.2);
            transform: skew(0deg, 0deg);
        }
        &--org{
            border-top-color: v.$rouge;
            border-bottom-color: v.$orange;
            background-image: linear-gradient(v.$rouge, v.$orange),linear-gradient(v.$rouge, v.$orange);

        }
        &--vio{
            border-top-color: #2b66ff;
            border-bottom-color: #c324ff;
            background-image: linear-gradient(#2B66FF, #C324FF),linear-gradient(#2B66FF, #C324FF);
        }
    }
}
@media (min-width: 900px){
    .team{
        display: flex;
        width: 100%;
        &__el{
            &--droite,&--gauche{
                display: flex;
                flex-direction: row;
                li{
                    margin: 0 5%;
                }
            }
        }
    }
    section{
        padding: 45px 90px;
    }
    .carte{
        width: 15vw;
    }
    .btn{
        &--pari{
            margin: 30px 0;
            width: 240px;
            height: 75px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
@media (min-width: 1200px){
    .banner{
        align-self: center;
        max-width: 60vw;
    }
    .accroche{
        max-width: 50vw;
        text-align: center;
    }
}
@keyframes down{
    0%{
      transform: translateY(-10px);  
    }
    100%{
        transform: translateY(10px);  
      }
}