.curseur,.curseurimg{
    width: 40px;
    height: 40px;
    position: absolute;
    pointer-events: none;
    z-index:500;
}

.curseurimg{
    background-size: contain;
    background-image:none;
    background-repeat: no-repeat;
    background-position: center;
}

