//typo

@use "_var.scss" as v;

html{
    scroll-behavior: smooth;
}
body, .btn--pari{
    font-size: 30px;
    font-family: v.$typo;
    font-weight: 300;
}
.alinea{
    display: block;
}
.title{
    &--logo{
        margin: 10px;
    }
    &--princ{
        font-size: 62px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        margin: 30px 0 0 30px;
        text-align: center;
        letter-spacing: 2px;
    }
    &--second{
        font-size: 49px;
    }
    &--trois{
        font-size: 38px;
        position: relative;

        &::before{
            content: "1. ";
            background: -webkit-linear-gradient(90deg, #FF1B1B 0%, #FFB914 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &--name{
        margin: 22.75px 0 0 0;
        font-size: 24px;
    }
    &--neon{
        text-shadow: 0px 3px 9px v.$textcolor;
        margin: 0;
        position: absolute;
        top: 60px;
        left: 20%;
        text-transform: uppercase;
    }
}

.deux{
    &::before{
        content: "2. ";
        background: -webkit-linear-gradient(90deg, #2B66FF 0%, #C324FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.trois{
    &::before{
        content: "3. ";
    }
}
.more{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 24px 0;
    left: 0;
    &__btn{
        position: relative;
        background-image: url(../images/dropdown.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
        animation: down ease-in 2s infinite alternate;
        width: 50px;
    }
}
.credits{
    font-size: 13px;
}
.btn{
    &--pari{
        font-family: v.$typo;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
.tuto{
    &__el{
        list-style: none;
        &--li{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                display: block;
                width: 20px;
                height: 5px;
                background-image: v.$gradientr;
                border-radius: 5px;
                left: -30px;
                top: 22px;
            }
        }
        &--blue{
            &::before{
                background-image: v.$gradientb;
            }
        }
    }
}
.joueur{
    &__txt{
        font-size: 48px;
        text-transform: uppercase;
        margin: 10px;
    }
}
@media (min-width: 600px){
    .title{
        &--princ{
            font-size: 62px;
        }
        &--second{
            font-size: 49px;
        }
        &--trois{
            font-size: 38px;
        }
        &--name{
            margin: 22.75px 0 0 0;
            font-size: 24px;
        }
        .small{
            font-size: 19px;
        }
        .credits{
            font-size: 13px;
        }
        .btn{
            &--pari{
                font-size: 24px;
            }
        }
    }
}
@media (min-width: 900px){
    body, .btn--pari{
        font-size: 38px;
    }
    .title{
        &--princ{
            font-size: 79px;
        }
        &--second{
            font-size: 62px;
        }
        &--trois{
            font-size: 49px;
        }
        &--name{
            margin: 22.75px 0 0 0;
            font-size: 30px;
        }
    }
    .small{
        font-size: 24px;
    }
    .credits{
        font-size: 19px;
    }
    .btn{
        &--pari{
            font-size: 30px;
        }
    }
    
}
@media (min-width: 1200px){
    .title{
        .small{
            font-size: 19px;
        }
        .credits{
            font-size: 13px;
        }
        .btn{
            &--pari{
                font-size: 24px;
            }
        }
    }
}